
API_Connection/obj/Debug/

API_Prestation/obj/Debug/

API_Reservation/obj/Debug/

AdminInterface/obj/Debug/

DAO/obj/Debug/

TpPoeNet/obj/Debug/

WebInterface/obj/Debug/

DAO/obj/

AdminInterface/obj/

WebInterface/obj/

TpPoeNet/obj/

API_Reservation/obj/

API_Prestation/obj/

API_Connection/obj/

\.vs/TpPoeNet/v15/

\.vs/

AdminInterface/bin/

API_Comptes/obj/

API_Comptes/

API_Prestation/

DAO/

WebInterface/
